:root {
    //colors
    --black-primary: rgb(0, 0, 0);
    --black-secondary: rgb(22, 22, 22);
    --black-fade: rgb(94, 94, 94);
    --black-subtitle: rgb(112, 112, 116);
    --black-outline: rgba(255, 0, 0, 0.3);
    --white: rgb(255, 255, 255);
    --offwhite: rgb(253, 250, 247);
    --carousel: rgb(247, 247, 247);

}